body {
  background: #202124;
  font-family: Arial;
  color: white;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.contenedor {
  width: 700px;
  background: #2b2b2b;
  padding: 30px;
  border-radius: 15px;
}

h1 {
  text-align: center;
}

#estado {
  display: flex;
  align-items: center;
  padding: 15px;
  background: #444;
  margin-bottom: 20px;
  border-radius: 10px;
}

#original,
#traducido,
#idioma {
  background: #111;
  padding: 15px;
  min-height: 60px;
  margin-bottom: 20px;
  border-radius: 10px;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
}

#microfonoEstado {
  margin: 20px 0;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.apagado {
  background: #8b0000;
}

.encendido {
  background: #006400;
}

#toggleMic {
  width: 100%;
  padding: 15px;
  font-size: 18px;
}

.imgEscucha {
  width: 20px;
}
.traduccionContainer {
  position: relative;
}

.play-button .btnPlay {
  position: relative;
  background-color: #333333eb;
  border: 1px solid #333;
  border-radius: 50%;
  background-image: url("Images/play.avif");
  background-size: cover;
  /* width: 100%; */
  /* height: 100%; */
  /* top: 0; */
  /* bottom: 0; */
  /* left: 30px; */
  /* right: 60px; */
  /* bottom: 5px; */
  margin: 0;
  /* padding: 0; */
  /* right: 15px; */
  /* padding: 20px; */
  padding: 15px;
}
.play-button .btnPlay.stop {
  background-image: url("Images/stop.avif");
}
.play-button {
  position: absolute;
  display: flex;
  /* width: 100%; */
  justify-content: right;
  /* justify-content: center; */
  /* bottom: 0; */
  /* bottom: 20px; */
  /* background: none; */
  /* border: none; */
  /* outline: none; */
  /* opacity: 0.8; */
  /* width: 42px; */
  /* height: 42px; */
  /* left: 60px; */
  right: 5px;
  top: 5px;
  margin: auto;
}
